<h1>
  {{title}}
</h1>

<section *ngIf="false">
  <h2>Countersss</h2>
  <div *ngIf="showCounter">
    <sk-counter></sk-counter>
  </div>

  <div>
    <sk-counter-observable [counter$]="myObservable"></sk-counter-observable>
  </div>

  <button (click)="showCounter=!showCounter">toggle counter</button>

</section>

<!--<sk-user name="Martin" age="100">
  <img src="./assets/skate-deck.jpg">
</sk-user>-->

<div class="flex padding">
  <sk-user
    [name]="user.name"
    [age]="user.age"
    (new-trick)="learnTrick($event.detail)"
  >
    <img src="./assets/skate-deck.jpg">
  </sk-user>

  <section>
    <h4>Knows Tricks:</h4>
    <ul>
      <li *ngFor="let trick of user.tricks">{{ trick }}</li>
    </ul>
  </section>
</div>
